@import "tailwindcss";

main {
    background: #17072B;
    height: 100vh ;
    height: 100dvh ;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* Estilos personalizados para el scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(45, 27, 77, 0.3);
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(139, 92, 246, 0.5);
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(139, 92, 246, 0.7);
}
