@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

main {
    background: #1d2148;
    height: 100vh ;
    height: 100dvh ;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@theme inline {

    --font-poppins: "Poppins", sans-serif; 
    --color-jacarta-50: #eef0ff;
    --color-jacarta-100: #e1e3fe;
    --color-jacarta-200: #c8ccfd;
    --color-jacarta-300: #a7aafa;
    --color-jacarta-400: #8984f5;
    --color-jacarta-500: #7566ee;
    --color-jacarta-600: #664ae1;
    --color-jacarta-700: #583bc7;
    --color-jacarta-800: #4733a0;
    --color-jacarta-900: #33286a;
    --color-jacarta-950: #251c4a;

}